.auth__page-container {
  background-color: #ffdd2d;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth__page-body {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6c6c6c;
}
.auth__page-content {
  color: #6c6c6c;
  text-align: center;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.auth__page-form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth__page-form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
}
.auth__page-form-input {
  height: 70px;
  width: 350px;
  padding: 10px;
  color: #6c6c6c;
  border: 1px solid #6c6c6c;
  border-radius: 5px;
}
.auth__page-form-btn__wrapper {
  width: 100%;
  text-align: center;
}
.auth__page-form-btn {
  width: 140px;
  height: 50px;
  border: 1px solid #6c6c6c;
  border-radius: 7px;
  background-color: #d3d3d3;
}
