.send__popap-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}
.send__popap-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.send__popap-body_form {
  background-color: whitesmoke;
  border-radius: 6px;
  height: 500px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.send__popap-btn {
  width: 50px;
  height: 40px;
  border: 1px solid #6c6c6c;
  font-size: 18px;
  color: #6c6c6c;
  border-radius: 7px;
  color: #6c6c6c;
  background-color: white;
  margin: 10px 10px 0 0;
}
.btn-submit {
  margin: 0 10px 10px 0;
  width: 80px;
  background-color: #e1e1e1;
}
.send__popap-body_form-content {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.input__header_wrapper {
  height: 50px;
  background-color: transparent;
  width: 100%;
  position: relative;
  text-align: center;
}
.input__headername {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #6c6c6c;
  color: #6c6c6c;
  padding: 0 0 0 15px;
}
.input__file-button {
  width: 100%;
  border: 1px solid #6c6c6c;
  width: 450px;
  height: 200px;
  background: white;
  color: #6c6c6c;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
