.help {
  display: flex;
  padding: 10px 0 10px 0;
  width: 1000px;

}

.help div {
  width: 200px;
  margin: 0 10% 0 0;
}

.user__page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_page-btn{
  width: 100%;
}
