.userspage__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.userspage__content-info{
display: flex;
width: 750px;
padding: 10px 10px;
}
.userspage__content-info div{
  margin:  0  200px 0 0;
  font-size: 16px;
}
