.header-dictionary{
  display: flex;
  padding: 10px 0px;
  border-bottom: 3px solid black;
  justify-content: space-between;
}
.header-dictionary div {
  padding: 0 90px 0 0;

}

.add-dictionary{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-bottom: 3px solid black;

}
.add-dictionary button{

  width: 130px;
  height: 50px;
}

.body-dictionary{
  padding: 10px 0px;
  border-bottom: 3px solid black;
}

.blocki{
  width: 140px;
}

